/*les grandes lignes*/
body{
    margin: 0;
}
p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

h1>h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 2em;
}


img{
    line-height: 0;
    width: 100%;
}
#logo {
    width: 20em;
}
 
header {
    background-color:white;
}
 
header nav {
    width: 1000px;
    margin: auto;
}
 
#menu
 {
    font-size: 1em;
    font-family: 'Source Sans Pro',bold;
    
}
 
header nav ul li{
    display: inline;
    margin-left: 75px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff; }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Changer les couleur au survol */
  li a:hover {

  }
  /*début résumé*/
#resume
{
    display: flex;
    align-items: center;
    background-color:white;
    
}   
.resume-image/*image*/
{
    flex-basis: auto;
    order: 1;
}
.resume-texte
{
    flex-basis: 66%;
    order: 2;
}
/*début des compétances*/
#competance
{
    display: flex;
    background-color:rgb(226, 172, 179);
    padding: 2em;
    justify-content: space-evenly;
    
}  
#competance > div {
flex-basis: 33%;

}
/*fin des compétances*/
 
/*section lunette*/
#lunette 
{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(172, 213, 226);
}

.lunettes/*image*/
{
    margin-left: 100px;
    flex-basis: auto;*/
    order: 1;{ 
    float:right;
        } 
}
.lunettes-texte
{
    flex-basis: 66%;
    order: 2;
}
/*fin lunette*/
/*début footer*/
#footer
{
    background-color: thistle;
}
/*fin footer*/



.mobile
{
display: grid
}
/*TAILLE DES ECRANT*/

 @media screen and (min-width:414px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: lavender;
  }
}
  
  @media screen and (min-width: 1920px) 
  {
    body {
      background-color: BLACK;
    }
  }